In [1]:
import pandas as pd

In [2]:
df_stocks = pd.read_csv('TJstockdata.csv')

In [4]:
df_stocks.head()

,Stock,Date,Open,High,Low,Close,Volume,Adjusted
0,AMZN,4/24/2020,2417.000000,2420.429932,2382.00000,2410.219971,3831800,2410.219971
1,AMZN,4/27/2020,2443.199951,2444.879883,2363.00000,2376.000000,5645600,2376.000000
2,AMZN,4/28/2020,2372.100098,2373.500000,2306.00000,2314.080078,5269400,2314.080078
3,AMZN,4/29/2020,2330.010010,2391.889893,2310.00000,2372.709961,4591600,2372.709961
4,AMZN,4/30/2020,2419.840088,2475.000000,2396.01001,2474.000000,9534600,2474.000000