In [207]:
import pyspark
from pyspark.sql import SQLContext

In [208]:
sc = pyspark.SparkContext(appName="Group Project")
sqlContext = SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=HW3-Q1, master=local[*]) created by __init__ at <ipython-input-2-143324fee1cf>:1

In [209]:
def load_data():
    comments_df = sqlContext.read.option("header",True).csv("comments.csv")
    posts_df = sqlContext.read.option("header",True).csv("posts.csv")
    comments_df = comments_df.withColumn("score", comments_df["score"].cast("integer"))\
        .withColumn("timestamp", comments_df["timestamp"].cast("timestamp"))
    posts_df = posts_df.withColumn("score", posts_df["score"].cast("integer"))\
        .withColumn("timestamp", posts_df["timestamp"].cast("timestamp"))
        
    return comments_df, posts_df

In [210]:
comments_df, posts_df = load_data()
comments_df.printSchema()
posts_df.printSchema()

root
 |-- author: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- id: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- text: string (nullable = true)
 |-- link_id: string (nullable = true)
 |-- parent_id: string (nullable = true)

root
 |-- author: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- id: string (nullable = true)
 |-- score: integer (nullable = true)
 |-- text: string (nullable = true)
 |-- link_id: string (nullable = true)
 |-- parent_id: string (nullable = true)

In [215]:
def clean_comments_data(comments_df):
    comments_df.createOrReplaceTempView("DATA")
    cleaned_comments_df = sqlContext.sql("SELECT * FROM DATA where text is not NULL AND text != '[removed]' AND text != '' AND text != '[deleted]'")
    return cleaned_comments_df

In [216]:
print(comments_df.count())
cleaned_comments_df = clean_comments_data(comments_df)
print(cleaned_comments_df.count())
cleaned_comments_df.write.csv("cleaned_comments")

1156394
816290

In [213]:
def clean_posts_data(posts_df):
    posts_df.createOrReplaceTempView("DATA")
    cleaned_posts_df = sqlContext.sql("SELECT * FROM DATA where text is not NULL AND text != '[removed]' AND text != '' AND text != '[deleted]'")
    return cleaned_posts_df

In [214]:
print(posts_df.count())
cleaned_posts_df = clean_posts_data(posts_df)
print(cleaned_posts_df.count())
cleaned_posts_df.write.csv("cleaned_posts")

892719
135044