In [1]:
import numpy as np
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
sid = SentimentIntensityAnalyzer()

In [1]:
file_path = 'cleaned_posts.csv' # replace with your filepath
df = pd.read_csv(file_path)
df.head()

NameError: name 'pd' is not defined

In [9]:
df['score'].value_counts()

1       98304
2        2396
0        2283
3         587
4         393
        ...
1049        1
3160        1
1369        1
2331        1
3454        1
Name: score, Length: 1049, dtype: int64

In [9]:
df['scores'] = df['text'].apply(lambda text: sid.polarity_scores(text))
df.head()

,author,timestamp,id,score,text,link_id,parent_id,scores
0,WTCwrnr,"2021-03-17, 10:11:46",m75ago,1,*Processing img uzcczofdfmn61...*\n\nCan we he...,NaN,NaN,"{'neg': 0.02, 'neu': 0.831, 'pos': 0.149, 'com..."
1,aresvswrld,"2021-03-17, 10:11:24",m75a5u,1,"I currently use Robinhood, and I have been for...",NaN,NaN,"{'neg': 0.048, 'neu': 0.891, 'pos': 0.061, 'co..."
2,DoctorWonderful2816,"2021-03-17, 10:04:53",m754ja,1,So i can increase my position 4 times. \n\n&am...,NaN,NaN,"{'neg': 0.0, 'neu': 0.834, 'pos': 0.166, 'comp..."
3,rawrtherapybackup,"2021-03-17, 10:03:56",m753pn,1,You guys want to be able to donate $1 Million ...,NaN,NaN,"{'neg': 0.0, 'neu': 0.916, 'pos': 0.084, 'comp..."
4,truth_fixes,"2021-03-17, 10:02:50",m752pt,1,I'm from Canada and have been holding BlackBer...,NaN,NaN,"{'neg': 0.113, 'neu': 0.807, 'pos': 0.081, 'co..."

In [10]:
df['compound_score']  = df['scores'].apply(lambda score: score['compound'])
df.head()

,author,timestamp,id,score,text,link_id,parent_id,scores,compound_score
0,WTCwrnr,"2021-03-17, 10:11:46",m75ago,1,*Processing img uzcczofdfmn61...*\n\nCan we he...,NaN,NaN,"{'neg': 0.02, 'neu': 0.831, 'pos': 0.149, 'com...",0.9033
1,aresvswrld,"2021-03-17, 10:11:24",m75a5u,1,"I currently use Robinhood, and I have been for...",NaN,NaN,"{'neg': 0.048, 'neu': 0.891, 'pos': 0.061, 'co...",0.1531
2,DoctorWonderful2816,"2021-03-17, 10:04:53",m754ja,1,So i can increase my position 4 times. \n\n&am...,NaN,NaN,"{'neg': 0.0, 'neu': 0.834, 'pos': 0.166, 'comp...",0.5809
3,rawrtherapybackup,"2021-03-17, 10:03:56",m753pn,1,You guys want to be able to donate $1 Million ...,NaN,NaN,"{'neg': 0.0, 'neu': 0.916, 'pos': 0.084, 'comp...",0.3400
4,truth_fixes,"2021-03-17, 10:02:50",m752pt,1,I'm from Canada and have been holding BlackBer...,NaN,NaN,"{'neg': 0.113, 'neu': 0.807, 'pos': 0.081, 'co...",-0.3755

In [11]:
df['sentiment'] = df['compound_score'].apply(lambda score: 'pos' if score > 0 else ('neg' if score < 0 else 'neutral'))
df.head()

,author,timestamp,id,score,text,link_id,parent_id,scores,compound_score,sentiment
0,WTCwrnr,"2021-03-17, 10:11:46",m75ago,1,*Processing img uzcczofdfmn61...*\n\nCan we he...,NaN,NaN,"{'neg': 0.02, 'neu': 0.831, 'pos': 0.149, 'com...",0.9033,pos
1,aresvswrld,"2021-03-17, 10:11:24",m75a5u,1,"I currently use Robinhood, and I have been for...",NaN,NaN,"{'neg': 0.048, 'neu': 0.891, 'pos': 0.061, 'co...",0.1531,pos
2,DoctorWonderful2816,"2021-03-17, 10:04:53",m754ja,1,So i can increase my position 4 times. \n\n&am...,NaN,NaN,"{'neg': 0.0, 'neu': 0.834, 'pos': 0.166, 'comp...",0.5809,pos
3,rawrtherapybackup,"2021-03-17, 10:03:56",m753pn,1,You guys want to be able to donate $1 Million ...,NaN,NaN,"{'neg': 0.0, 'neu': 0.916, 'pos': 0.084, 'comp...",0.3400,pos
4,truth_fixes,"2021-03-17, 10:02:50",m752pt,1,I'm from Canada and have been holding BlackBer...,NaN,NaN,"{'neg': 0.113, 'neu': 0.807, 'pos': 0.081, 'co...",-0.3755,neg

In [13]:
df = df.drop(['link_id', 'parent_id'], axis=1)

In [14]:
df.shape

(111600, 8)

In [15]:
df.to_csv('posts_with_scores.csv', index=False)

In [16]:
analyzed = pd.read_csv('posts_with_scores.csv')
analyzed['sentiment'].value_counts()

pos        57052
neg        31174
neutral    23374
Name: sentiment, dtype: int64

In [3]:
analyzed[analyzed['compound_score'] == 0]

,author,timestamp,id,score,text,link_id,parent_id,scores,compound_score,sentiment
10,RCBroeker,"2021-03-17, 09:53:08",m74um1,1,&amp;#x200B;\n\nhttps://preview.redd.it/d0gvzl...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
14,Eye-pooper,"2021-03-17, 09:48:37",m74qwb,1,"Last I checked, way back in beginning of Febru...",NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
16,LeftoverKing,"2021-03-17, 09:45:51",m74omr,1,Headline..,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
26,Snowy90L322,"2021-03-17, 09:33:28",m74enn,1,&amp;#x200B;\n\nhttps://preview.redd.it/yr0sfr...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
28,Platon_A,"2021-03-17, 09:31:48",m74da6,1,https://preview.redd.it/sdllwaj58mn61.png?widt...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
...,...,...,...,...,...,...,...,...,...,...
111306,LavenderAutist,"2020-08-16, 23:34:28",ib902f,1,https://www.barrons.com/amp/articles/time-to-b...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
111370,platinumsombro,"2020-08-16, 13:25:41",iazp38,1,There’s gotta be something out there that’s a ...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
111502,ImpressiveBus,"2020-08-15, 14:08:53",iafhwj,1,&amp;#x200B;\n\n![video](acti2fgie8h51),NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
111503,ImpressiveBus,"2020-08-15, 14:01:21",iafd4l,1,&amp;#x200B;\n\n*Processing video gstz8sz1d8h5...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos
111515,I_love_boobs86,"2020-08-15, 12:11:58",iadfkb,1,Fannie and Freddie Mac announced a new 0.5% fe...,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,pos